@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* SLIDE HORIZONRTAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: #000000;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
}

.section__padding {
    padding: 4rem 6rem;
}

@media screen and (max-width: 900px) {
    .section__padding {
        padding: 3rem 5rem;
    }
}

@media screen and (max-width: 500px) {
    body {
        font-size: 16px;
    }

    .section__padding {
        padding: 3rem 2rem;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.fade-in.active {
    opacity: 1;
    transform: translateY(0);
}

.sidenav {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -350px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
}

.sidenav a {
    padding: 18px 8px 8px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.sidenav a:hover {
    color: #111;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 25px;
}

.sidenav.active {
    left: 0;
}

.sidenav .close {
    position: absolute;
    top: 0;
    right: 2px;
    font-size: 36px;
}


@media screen and (max-width: 865px) {

    .burger-icon span {
        display: flex;
        width: 35px;
        height: 2px;
        background-color: #000000;
        margin: 6px 0;
    }

    nav {
        display: none;
    }

    .request {
        display: none;
    }
}

@media screen and (min-width: 865px) {
    #openBtn {
        display: none;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 370px) {
    .sidenav {
        width: 85vw;
    }
}



/* HEADER */

header {
    padding: 3rem 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    img {
        width: 219.537px;
        height: 36px;
    }

    nav {

        a {
            color: #000000;
            text-decoration: none;
            margin: 0 1rem;
            border-bottom: 1px solid transparent;
        }

        a:hover {
            border-bottom: 1px solid grey;
        }
    }

    .request {
        border: 1px solid #000000;
        padding: 1rem;
        border-radius: 15px;
        cursor: pointer;
    }

    .request:hover {
        background-color: #F5F5F5;
    }

}

@media screen and (max-width: 1250px) {
    header {
        font-size: 19px;

        img {
            height: 32px;
            width: 180px;
        }

        nav {
            a {
                margin: 0 0.5rem;
            }
        }

        .request {
            display: none;
        }
    }
}

@media screen and (max-width: 950px) {
    header {

        img {
            height: 30px;
            width: 170px;
        }

        nav {
            a {
                margin: 0 0.4rem;
            }
        }

        .request {
            display: none;
        }
    }
}

@media screen and (max-width: 900px) {
    header {
        padding: 3rem 5rem;
    }
}

@media screen and (max-width: 500px) {
    header {
        padding: 3rem 2rem;
    }
}

/* NAVIGATING */

.navigating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .navigating__block {
        display: flex;
        flex-direction: column;
        width: 50%;

        h1 {
            font-size: 60px;
            font-weight: 500;
        }

        p {
            margin-top: 4rem;
        }

        button {
            margin-top: 2rem;
            width: fit-content;
            padding: 0.8rem;
            font-size: 20px;
            background-color: #000000;
            color: #fff;
            outline: none;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            background: linear-gradient(to right, #B9FF66 50%, #000000 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            transition: all .4s ease-out;
        }

        button:hover {
            background-position: left bottom;
            color: #000000;
        }

    }

    .navigating__img {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 600.462px;
            height: 515px;
        }
    }
}

@media screen and (max-width: 1250px) {
    .navigating {

        .navigating__block {
            h1 {
                font-size: 50px;
            }

            p {
                margin-top: 2rem;
            }

            button {
                margin-top: 1rem;
            }
        }

        .navigating__img {
            img {
                width: 400.462px;
                height: 350px;
            }
        }
    }
}

@media screen and (max-width: 1030px) {
    .navigating {

        .navigating__block {
            h1 {
                font-size: 40px;
            }

            p {
                margin-top: 1.5rem;
            }

            button {
                margin-top: 1rem;
            }
        }

        .navigating__img {
            img {
                width: 330px;
                height: 280px;
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    .navigating {
        flex-direction: column;

        .navigating__block {
            width: 100%;
        }

        .navigating__img {
            margin-top: 2rem;

            img {
                width: 600.462px;
                height: 515px;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .navigating {

        .navigating__img {

            img {
                width: 500px;
                height: 420px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .navigating {

        .navigating__img {
            margin-top: 4rem;

            img {
                width: 400px;
                height: 320px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .navigating {

        .navigating__img {

            img {
                width: 300px;
                height: 240px;
            }

        }
    }
}

@media screen and (max-width: 400px) {
    .navigating {

        .navigating__block {

            button {
                font-size: 16px;
            }
        }
    }
}

/* BRANDS */

.brands {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    img {
        margin: 0.5rem 2rem;
        width: 125px;
        height: 48px;
        filter: brightness(20%);
    }

    img:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 650px) {
    .brands {
        img {
            height: 40px;
            width: 100px;
            margin: 1rem;
        }
    }
}

@media screen and (max-width: 550px) {
    .brands {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 330px) {
    .brands {
        justify-content: center;

        img {
            width: 135px;
            height: 51px;
        }
    }
}

/* SERVICES */

.services {
    display: flex;
    flex-direction: column;

    .services__head {
        display: flex;
        flex-direction: row;
        align-items: center;

        h2 {
            font-size: 40px;
            font-weight: 500;
            padding: 0.3rem;
            background-color: #B9FF66;
        }

        p {
            width: 50%;
            margin-left: 1rem;
            font-size: 18px;
        }
    }

    .services__blocs {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 4rem;

        .services__bloc {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 600px;
            border: 1px solid #000000;
            border-radius: 15px;
            padding: 1rem;
            box-shadow: 0px 5px 0px 0px #191A23;

            .bloc-left {
                width: 50%;
                font-size: 30px;
                font-weight: 500;

                .learn-more {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 2rem;

                    img {
                        width: 41px;
                        height: 41px;
                        transition: transform 1s;
                    }

                    img:hover {
                        cursor: pointer;
                        transform: rotate(180deg);
                    }

                    p {
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 28px;
                        margin-left: 0.5rem;
                        border-bottom: 1px solid transparent;
                        cursor: pointer;
                    }

                    p:hover {
                        border-bottom: 1px solid grey;
                    }
                }
            }

            img {
                width: 210px;
                height: 165px;
            }
        }

        .bloc1 {
            background-color: #F3F3F3;

            .bloc-left {

                h3 {
                    width: fit-content;
                    font-size: 30px;
                    font-weight: 500;
                    background-color: #B9FF66;
                    padding: 0.2rem;
                }
            }
        }

        .bloc2 {
            background-color: #B9FF66;

            h3 {
                width: fit-content;
                font-size: 30px;
                font-weight: 500;
                background-color: #fff;
                padding: 0.2rem;
            }
        }

        .bloc3 {
            background-color: #191A23;
            margin-top: 2rem;

            h3 {
                width: fit-content;
                font-size: 30px;
                font-weight: 500;
                background-color: #fff;
                padding: 0.2rem;
            }

            .learn-more {
                p {
                    color: #fff;
                }
            }
        }

        .bloc4 {
            background-color: #F3F3F3;
            margin-top: 2rem;

            h3 {
                width: fit-content;
                font-size: 30px;
                font-weight: 500;
                background-color: #B9FF66;
                padding: 0.2rem;
            }
        }

        .bloc5 {
            background-color: #B9FF66;
            margin-top: 2rem;

            h3 {
                width: fit-content;
                font-size: 30px;
                font-weight: 500;
                background-color: #fff;
                padding: 0.2rem;
            }
        }

        .bloc6 {
            background-color: #191A23;
            margin-top: 2rem;

            h3 {
                width: fit-content;
                font-size: 30px;
                font-weight: 500;
                background-color: #B9FF66;
                padding: 0.2rem;
            }

            .learn-more {
                p {
                    color: #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 1450px) {
    .services {
        .services__blocs {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .bloc2 {
                margin-top: 2rem;
            }
        }
    }
}


@media screen and (max-width: 1340px) {
    .services {
        .services__head {
            p {
                font-size: 17px;
                width: 60%;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .services {
        .services__head {

            h2 {
                font-size: 35px;
                padding: 0.2rem;
            }

            p {
                font-size: 16px;
                width: 70%;
            }
        }
    }
}

@media screen and (max-width: 920px) {
    .services {
        .services__head {

            h2 {
                font-size: 35px;
                padding: 0.2rem;
            }

            p {
                font-size: 16px;
                width: 85%;
            }
        }
    }
}

@media screen and (max-width: 835px) {
    .services {
        .services__head {
            flex-direction: column;
            align-items: flex-start;

            p {
                margin-left: 0;
                margin-top: 1rem;
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .services {
        .services__blocs {

            .services__bloc {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 620px) {
    .services {
        .services__blocs {

            .services__bloc {
                align-items: center;

                .bloc-left {
                    h3 {
                        font-size: 22px;
                    }

                    .learn-more {
                        p {
                            font-size: 16px;
                        }
                    }
                }

                img {
                    width: 150px;
                    height: 95px;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .services {
        .services__blocs {

            .services__bloc {

                .bloc-left {
                    h3 {
                        font-size: 19px;
                    }

                    .learn-more {
                        img {
                            width: 36px;
                            height: 36px;
                        }

                        p {
                            font-size: 15px;
                        }
                    }
                }

                img {
                    width: 120px;
                    height: 75px;
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .services {
        .services__blocs {

            .services__bloc {

                .bloc-left {
                    h3 {
                        font-size: 17px;
                    }

                    .learn-more {
                        img {
                            width: 33px;
                            height: 33px;
                        }

                        p {
                            font-size: 13px;
                        }
                    }
                }

                img {
                    width: 100px;
                    height: 60px;
                }
            }
        }
    }
}

@media screen and (max-width: 346px) {
    .services {
        .services__blocs {

            .services__bloc {

                .bloc-left {
                    h3 {
                        font-size: 15px;
                    }

                    .learn-more {
                        img {
                            width: 30px;
                            height: 30px;
                        }

                        p {
                            font-size: 11px;
                        }
                    }
                }

                img {
                    width: 85px;
                    height: 60px;
                }
            }
        }
    }
}

@media screen and (max-width: 318px) {
    .services {
        .services__blocs {

            .services__bloc {

                .bloc-left {
                    h3 {
                        font-size: 13px;
                    }

                    .learn-more {
                        img {
                            width: 30px;
                            height: 30px;
                        }

                        p {
                            font-size: 10px;
                        }
                    }
                }

                img {
                    width: 75px;
                    height: 55px;
                }
            }
        }
    }
}

/* PROPOSAL */

.proposal {

    display: flex;
    justify-content: center;
    width: 100%;

    .proposal__container {
        width: 85vw;
        background-color: #F3F3F3;
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        padding: 2rem;
        position: relative;

        .proposal__bloc-left {
            display: flex;
            flex-direction: column;
            width: 50%;

            h3 {
                font-size: 30px;
                font-weight: 500;
            }

            p {
                margin-top: 3rem;
                font-size: 18px;
            }

            button {
                margin-top: 2rem;
                width: fit-content;
                padding: 0.8rem;
                font-size: 20px;
                background-color: #000000;
                color: #fff;
                outline: none;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                background: linear-gradient(to right, #B9FF66 50%, #000000 50%);
                background-size: 200% 100%;
                background-position: right bottom;
                transition: all .4s ease-out;
            }

            button:hover {
                background-position: left bottom;
                color: #000000;
            }

        }
    }

    img {
        width: 290px;
        height: 300px;
        position: absolute;
        top: -10%;
        left: 85%;
        transform: translateX(-50%) scale(1.2);
    }
}

@media screen and (max-width: 1385px) {
    .proposal {
        img {
            width: 320px;
            height: 330px;
            left: 80%;
        }
    }
}

@media screen and (max-width: 1050px) {
    .proposal {
        img {
            width: 250px;
            height: 280px;
            left: 80%;
            top: 5%;
        }
    }
}

@media screen and (max-width: 1010px) {
    .proposal {

        .proposal__container {
            .proposal__bloc-left {
                width: 60%;
            }

            img {
                width: 200px;
                height: 210px;
                left: 80%;
                top: 15%;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .proposal {

        .proposal__container {
            .proposal__bloc-left {
                width: 100%;
            }

            img {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .proposal {

        .proposal__container {
            .proposal__bloc-left {
                h3 {
                    font-size: 22px;
                }

                p {
                    margin-top: 1.5rem;
                    font-size: 16px;
                }

                button {
                    margin-top: 1rem;
                    font-size: 16px;
                }
            }
        }
    }
}

/* USE CASES */

.usecases {
    display: flex;
    flex-direction: column;

    .usecases__head {
        display: flex;
        flex-direction: row;
        align-items: center;

        h2 {
            font-size: 40px;
            font-weight: 500;
            padding: 0.3rem;
            background-color: #B9FF66;
        }

        p {
            width: 50%;
            margin-left: 1rem;
            font-size: 18px;
        }
    }

    .usecases__blocs {
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        .usecases__bloc {
            display: flex;
            flex-direction: column;
            width: 30%;
            padding: 1rem;
            background-color: #191A23;
            border-radius: 20px;
            margin-top: 1.5rem;

            p {
                font-size: 18px;
                color: #fff;
            }

            .usecases__learn-more {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 2rem;

                p {
                    color: #B9FF66;
                    border-bottom: 1px solid transparent;
                    cursor: pointer;
                }

                p:hover {
                    border-bottom: 1px solid #B9FF66;
                }

                img {
                    margin-left: 0.5rem;
                    width: 14px;
                    height: 12px;
                    transition: transform 0.5s;
                }

                img:hover {
                    cursor: pointer;
                    transform: rotate(90deg);
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .usecases {
        .usecases__head {

            h2 {
                font-size: 35px;
                padding: 0.2rem;
            }

            p {
                font-size: 16px;
                width: 70%;
            }
        }
    }
}


@media screen and (max-width: 998px) {
    .usecases {
        .usecases__head {
            h2 {
                font-size: 32px;
            }
        }
    }
}

@media screen and (max-width: 935px) {
    .usecases {
        .usecases__head {
            flex-direction: column;
            align-items: flex-start;

            p {
                margin-left: 0;
                margin-top: 1rem;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .usecases {
        .usecases__blocs {
            margin-top: 0.5rem;

            .usecases__bloc {
                width: 47%;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .usecases {
        .usecases__blocs {
            .usecases__bloc {
                width: 100%;
            }
        }
    }
}

/* WORKING */

.working {
    .working__head {
        display: flex;
        flex-direction: row;
        align-items: center;

        h2 {
            font-size: 40px;
            font-weight: 500;
            padding: 0.3rem;
            background-color: #B9FF66;
        }

        p {
            width: 50%;
            margin-left: 1rem;
            font-size: 18px;
        }
    }

    .working__blocs {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;

        .working__bloc {
            margin-top: 2rem;
            background-color: #F3F3F3;
            position: relative;
            padding: 1.8rem;
            border-radius: 45px;
            border: 1px solid #191A23;
            box-shadow: 0px 5px 0px 0px #191A23;

            .working__bloc-top {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .working__bloc-top-left {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .number {
                        font-size: 60px;
                        font-weight: 500;
                    }

                    .subtitle {
                        margin-left: 1.5rem;
                        font-size: 30px;
                        font-weight: 400;
                    }
                }

                .icon {
                    position: absolute;
                    top: 35px;
                    right: 50px;
                    font-size: 42px;
                }
            }

            .description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .working__bloc-middle {
                    width: 99%;
                    margin-top: 1.5rem;
                    border-bottom: 1px solid #000000;
                }

                p {
                    margin-top: 1.5rem;
                }
            }
        }
    }


}


@media screen and (max-width: 1100px) {
    .working {
        .working__head {
            flex-direction: column;
            align-items: flex-start;

            h2 {
                font-size: 35px;
                padding: 0.2rem;
            }

            p {
                font-size: 16px;
                width: 70%;
                margin-left: 0;
                margin-top: 1rem;
            }
        }
    }
}


@media screen and (max-width: 998px) {
    .working {
        .working__head {
            h2 {
                font-size: 32px;
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .working {
        .working__blocs {
            .working__bloc {
                .working__bloc-top {
                    .working__bloc-top-left {
                        .number {
                            font-size: 45px;
                        }

                        .subtitle {
                            font-size: 24px;
                        }
                    }

                    .icon {
                        font-size: 25px;
                        top: 40px;
                    }
                }

                .description {
                    p {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 775px) {
    .working {
        .working__blocs {
            margin-top: 3rem;

            .working__bloc {
                .working__bloc-top {
                    .working__bloc-top-left {
                        .number {
                            font-size: 35px;
                        }

                        .subtitle {
                            font-size: 20px;
                            padding-right: 2.5rem;
                        }
                    }

                    .icon {
                        font-size: 20px;
                        font-weight: bold;
                        top: 39px;
                    }
                }

                .description {
                    p {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .working {
        .working__blocs {
            margin-top: 1.5rem;

            .working__bloc {
                .working__bloc-top {
                    .working__bloc-top-left {
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;

                        .number {
                            font-size: 30px;
                        }

                        .subtitle {
                            margin-left: 0;
                            font-size: 17px;
                            padding-right: 0;
                            margin-top: 0.5rem;
                        }
                    }

                    .icon {
                        font-size: 25px;
                        font-weight: bold;
                        top: 37px;
                        right: 30px;
                    }
                }

                .description {
                    p {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 332px) {
    .working {
        .working__head {

            h2 {
                font-size: 30px;
            }
        }
    }
}

@media screen and (max-width: 312px) {
    .working {
        .working__head {

            h2 {
                font-size: 28px;
            }
        }
    }
}

/* ABOUT US */

.aboutus {
    .aboutus__head {
        display: flex;
        flex-direction: row;
        align-items: center;

        h2 {
            font-size: 40px;
            font-weight: 500;
            padding: 0.3rem;
            background-color: #B9FF66;
        }

        p {
            width: 50%;
            margin-left: 1rem;
            font-size: 18px;
        }
    }

    .aboutus__blocs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 3rem;
        flex-wrap: wrap;

        .aboutus__bloc {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 30%;
            padding: 2rem;
            border: 1px solid #000000;
            border-radius: 15px;
            box-shadow: 0px 5px 0px 0px #191A23;
            margin-top: 1.5rem;

            .aboutus__bloc-top {
                width: 90%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .aboutus__bloc-top1 {
                    img {
                        margin-right: 1.2rem;
                        height: 97px;
                        width: 107px;
                    }
                }

                .aboutus__bloc-top2 {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: flex-end;

                    .name {
                        font-size: 20px;
                        font-weight: 600;
                    }
                }

                .aboutus__bloc-top3 {
                    img {
                        height: 34px;
                        width: 34px;
                        transition: transform 1s;
                    }

                    img:hover {
                        cursor: pointer;
                        transform: rotate(90deg);
                    }
                }
            }

            .aboutus__bloc-middle {
                width: 90%;
                margin-top: 1.5rem;
                border-bottom: 1px solid #000000;
            }

            .aboutus__bloc-bottom {
                margin-top: 1.5rem;

                p {
                    font-size: 18px;
                    font-weight: 400;
                    text-align: center;
                }
            }
        }
    }

    .aboutus__button {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        button {
            margin-top: 2rem;
            width: fit-content;
            padding: 0.8rem;
            font-size: 20px;
            background-color: #000000;
            color: #fff;
            outline: none;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            background: linear-gradient(to right, #B9FF66 50%, #000000 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            transition: all .4s ease-out;
        }

        button:hover {
            background-position: left bottom;
            color: #000000;
        }
    }
}

@media screen and (max-width: 1800px) {
    .aboutus {
        .aboutus__blocs {
            .aboutus__bloc {
                .aboutus__bloc-top {
                    .aboutus__bloc-top2 {
                        width: 40%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    .aboutus {
        .aboutus__head {
            p {
                font-size: 17px;
                width: 60%;
            }
        }

        .aboutus__blocs {
            justify-content: space-evenly;

            .aboutus__bloc {
                width: 40%;

                .aboutus__bloc-top {
                    .aboutus__bloc-top2 {
                        width: 40%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .aboutus {
        .aboutus__head {

            h2 {
                font-size: 35px;
                padding: 0.2rem;
            }

            p {
                font-size: 16px;
                width: 70%;
            }
        }

        .aboutus__blocs {
            justify-content: space-evenly;

            .aboutus__bloc {
                width: 70%;

                .aboutus__bloc-top {
                    .aboutus__bloc-top2 {
                        width: fit-content;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 920px) {
    .aboutus {
        .aboutus__head {

            h2 {
                font-size: 35px;
                padding: 0.2rem;
            }

            p {
                font-size: 16px;
                width: 85%;
            }
        }
    }
}

@media screen and (max-width: 835px) {
    .aboutus {
        .aboutus__head {
            flex-direction: column;
            align-items: flex-start;

            p {
                margin-left: 0;
                margin-top: 1rem;
            }
        }

        .aboutus__blocs {
            justify-content: space-evenly;

            .aboutus__bloc {
                width: 85%;

                .aboutus__bloc-top {
                    .aboutus__bloc-top2 {
                        width: 60%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 630px) {
    .aboutus {

        .aboutus__blocs {
            margin-top: 1.5rem;

            .aboutus__bloc {
                width: 100%;

                .aboutus__bloc-top {
                    .aboutus__bloc-top3 {
                        img {
                            margin-left: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .aboutus {

        .aboutus__blocs {

            .aboutus__bloc {

                .aboutus__bloc-top {

                    .aboutus__bloc-top1 {
                        img {
                            height: 85px;
                            width: 95px;
                        }
                    }

                    .aboutus__bloc-top2 {
                        width: fit-content;
                    }

                    .aboutus__bloc-top3 {
                        img {
                            display: none;
                        }
                    }
                }

                .aboutus__bloc-bottom {
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .aboutus {

        .aboutus__blocs {

            .aboutus__bloc {

                .aboutus__bloc-top {
                    flex-direction: column;

                    .aboutus__bloc-top1 {
                        img {
                            height: 85px;
                            width: 95px;
                        }
                    }

                    .aboutus__bloc-top2 {
                        width: fit-content;
                    }
                }
            }
        }
    }
}

/* TESTIMONIALS */

.testimonials {
    .testimonials__head {
        display: flex;
        flex-direction: row;
        align-items: center;

        h2 {
            font-size: 40px;
            font-weight: 500;
            padding: 0.3rem;
            background-color: #B9FF66;
        }

        p {
            width: 50%;
            margin-left: 1rem;
            font-size: 18px;
        }
    }

}

.testimonials__container {
    margin-top: 6rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .chevron {
        font-size: 30px;
        cursor: pointer;
    }
}

#content {
    max-width: 600px;

    .testimonial {
        display: none;

        &.active {
            display: block;
        }

        blockquote {
            height: 250px;
            margin: 10px 10px 0;
            background: #191A23;
            padding: 20px 60px;
            position: relative;
            border: 4px solid #B9FF66;
            border-radius: 8px;
            font-style: italic;
            color: #fff;
            display: flex;
            align-items: center;
        }

        blockquote:before,
        blockquote:after {
            content: "\201C";
            position: absolute;
            font-size: 80px;
            line-height: 1;
            color: #fff;
            font-style: normal;
        }

        blockquote:before {
            top: 0;
            left: 10px;
        }

        blockquote:after {
            content: "\201D";
            right: 10px;
            bottom: -0.5em;
        }

        div {
            width: 0;
            height: 0;
            border-left: 0 solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #B9FF66;
            margin: 0 0 0 60px;
        }

        p {
            margin: 8px 0 0 20px;
            text-align: left;
            color: #000;
        }
    }
}


@media screen and (max-width: 1100px) {
    .testimonials {
        .testimonials__head {

            h2 {
                font-size: 35px;
                padding: 0.2rem;
            }

            p {
                font-size: 16px;
                width: 70%;
            }
        }
    }
}


@media screen and (max-width: 998px) {
    .testimonials {
        .testimonials__head {
            h2 {
                font-size: 32px;
            }
        }
    }
}

@media screen and (max-width: 935px) {
    .testimonials {
        .testimonials__head {
            flex-direction: column;
            align-items: flex-start;

            p {
                margin-left: 0;
                margin-top: 1rem;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .testimonials {
        .testimonials__container {
            margin-top: 3rem;
        }
    }
}

@media screen and (max-width: 750px) {
    .testimonials {
        .testimonials__container {
            #content {
                .testimonial {
                    blockquote {
                        height: 350px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .testimonials {
        .testimonials__container {
            #content {
                .testimonial {
                    blockquote {
                        height: 400px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .testimonials {
        .testimonials__container {
            #content {
                .testimonial {
                    blockquote {
                        height: 500px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .testimonials {
        .testimonials__container {
            blockquote {
                font-size: 19px;
            }

            #content {

                blockquote:before,
                blockquote:after {
                    font-size: 55px;
                }

                blockquote:before {
                    top: 10px;
                    left: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 410px) {
    .testimonials {
        .testimonials__container {
            #content {
                .testimonial {
                    blockquote {
                        height: 600px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 370px) {
    .testimonials {
        .testimonials__container {

            #content {

                blockquote {
                    padding: 30px;
                }

                blockquote:before,
                blockquote:after {
                    font-size: 45px;
                }

                blockquote:before {
                    top: 10px;
                    left: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 315px) {
    .testimonials {
        .testimonials__container {
            #content {
                .testimonial {
                    blockquote {
                        height: 700px;
                    }
                }
            }
        }
    }
}

/* CONTACT */

.contact {

    .contact__head {
        display: flex;
        flex-direction: row;
        align-items: center;

        h2 {
            font-size: 40px;
            font-weight: 500;
            padding: 0.3rem;
            background-color: #B9FF66;
        }

        p {
            width: 50%;
            margin-left: 1rem;
            font-size: 18px;
        }
    }

    .contact__container {
        margin-top: 4rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .contact__bloc {
            display: flex;
            justify-content: center;
            width: 50%;
            background-color: #F3F3F3;
            color: #000000;
            padding: 1.5rem;
            border-radius: 15px;

            form {
                width: 70%;
                display: flex;
                flex-direction: column;

                input {
                    border: 1px solid #000000;
                    border-radius: 15px;
                    padding: 1rem;
                    margin-top: 0.8rem;
                    margin-bottom: 0.8rem;
                }

                button {
                    margin-top: 2rem;
                    padding: 0.8rem;
                    font-size: 20px;
                    background-color: #000000;
                    color: #fff;
                    outline: none;
                    border: none;
                    border-radius: 10px;
                    cursor: pointer;
                    background: linear-gradient(to right, #B9FF66 50%, #000000 50%);
                    background-size: 200% 100%;
                    background-position: right bottom;
                    transition: all .4s ease-out;
                }

                button:hover {
                    background-position: left bottom;
                    color: #000000;
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .contact {
        .contact__head {

            h2 {
                font-size: 35px;
                padding: 0.2rem;
            }

            p {
                font-size: 16px;
                width: 70%;
            }
        }

        .contact__container {
            .contact__bloc {
                width: 70%;
            }
        }
    }
}

@media screen and (max-width: 998px) {
    .contact {
        .contact__head {
            h2 {
                font-size: 32px;
            }
        }
    }
}

@media screen and (max-width: 935px) {
    .contact {
        .contact__head {
            flex-direction: column;
            align-items: flex-start;

            p {
                margin-left: 0;
                margin-top: 1rem;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .contact {

        .contact__container {
            .contact__bloc {
                width: 85%;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .contact {

        .contact__container {
            .contact__bloc {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .contact {

        .contact__container {
            .contact__bloc {
                form {
                    width: 90%;
                }
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .contact {

        .contact__container {
            .contact__bloc {
                form {
                    width: 100%;
                }
            }
        }
    }
}


/* FOOTER */

footer {
    padding: 4rem 6rem 0 6rem;

    .footer__container {
        padding: 2rem;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-color: #191A23;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .footer__bloc-top {
            display: flex;
            flex-direction: column;

            .footer__bloc-top1 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                img {
                    width: 180px;
                    height: 29px;
                }

                nav {
                    width: fit-content;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    a {
                        text-decoration: none;
                        color: #fff;
                        border-bottom: 1px solid transparent;
                        margin-right: 1.5rem;
                    }

                    a:hover {
                        border-bottom: 1px solid #fff;
                    }


                }

                .social-medias {
                    width: 10%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    img {
                        width: 30px;
                        height: 30px;
                        transition: transform 0.5s;
                    }

                    img:hover {
                        cursor: pointer;
                        transform: rotate(90deg);
                    }
                }
            }

            .footer__bloc-top2 {
                margin-top: 3rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .social-medias-2 {
                    display: none;
                }

                .footer__bloc-top2-left {
                    width: 30%;
                    display: flex;
                    flex-direction: column;

                    h4 {
                        color: #000000;
                        width: fit-content;
                        font-size: 20px;
                        font-weight: 500;
                        padding: 0.5rem;
                        background-color: #B9FF66;
                    }

                    p {
                        margin-top: 1rem;
                    }
                }

                .footer__bloc-top2-right {
                    width: 55%;
                    border-radius: 14px;
                    background: #292A32;
                    display: flex;
                    flex-direction: row;
                    padding: 3rem 1.5rem;
                    justify-content: space-evenly;

                    input {
                        width: 48%;
                        height: 85%;
                        border-radius: 14px;
                        border: 1px solid #FFF;
                        background-color: #292A32;
                        color: #fff;
                        font-size: 20px;
                        text-align: center;
                    }

                    input::placeholder {
                        color: #fff;
                    }

                    button {
                        width: 40%;
                        height: 85%;
                        padding: 1.5rem;
                        border-radius: 14px;
                        background-color: #B9FF66;
                        color: #000000;
                        border: none;
                        font-size: 20px;
                        cursor: pointer;
                        background: linear-gradient(60deg, #B9FF66, #66FFCC);
                        background-size: 300% 300%;
                        animation: gradientShift 8s infinite alternate;
                    }

                    @keyframes gradientShift {
                        0% {
                            background-position: 0% 50%;
                        }

                        100% {
                            background-position: 100% 50%;
                        }
                    }
                }
            }
        }

        .footer__bloc-middle {
            margin-top: 3rem;
            border-bottom: 1px solid #fff;
        }

        .footer__bloc-bottom {
            margin-top: 1.5rem;
            display: flex;
            flex-direction: row;

            .privacy {
                margin-left: 1.5rem;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    footer {
        .footer__container {
            .footer__bloc-top {

                .footer__bloc-top1 {
                    .social-medias {
                        display: none;
                    }
                }

                .footer__bloc-top2 {
                    flex-direction: column-reverse;
                    justify-content: center;
                    align-items: center;

                    .social-medias-2 {
                        margin-top: 2.5rem;
                        width: 16%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        img {
                            width: 30px;
                            height: 30px;
                            transition: transform 0.5s;
                        }

                        img:hover {
                            cursor: pointer;
                            transform: rotate(90deg);
                        }
                    }

                    .footer__bloc-top2-left {
                        justify-content: center;
                        align-items: center;

                        h4 {
                            margin-top: 2.5rem;
                        }

                        width: 80%;
                        text-align: center;
                    }

                    .footer__bloc-top2-right {
                        width: 80%;

                        input {
                            height: 70px;
                        }

                        button {
                            height: 70px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    footer {
        .footer__container {
            .footer__bloc-top {
                .footer__bloc-top1 {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    nav {
                        margin-top: 3.5rem;

                        .aboutus {
                            margin-left: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 945px) {
    footer {
        .footer__container {
            .footer__bloc-top {
                .footer__bloc-top2 {

                    .social-medias-2 {
                        width: 20%;
                    }

                    .footer__bloc-top2-right {
                        input {
                            font-size: 17px;
                        }

                        button {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    footer {
        padding: 3rem 5rem 0 5rem;
    }
}

@media screen and (max-width: 875px) {
    footer {
        .footer__container {
            .footer__bloc-top {
                .footer__bloc-top1 {

                    nav {

                        width: 100%;

                        a {
                            margin-right: 1rem;
                            font-size: 17px;
                        }
                    }
                }

                .footer__bloc-top2 {
                    .footer__bloc-top2-right {
                        align-items: center;
                        flex-direction: column;

                        input {
                            width: 70%;
                        }

                        button {
                            margin-top: 1rem;
                            width: 70%;
                        }
                    }

                    .footer__bloc-top2-left {
                        font-size: 17px;
                    }
                }
            }

            .footer__bloc-bottom {
                font-size: 17px;
            }
        }
    }
}

@media screen and (max-width: 755px) {
    footer {
        .footer__container {
            .footer__bloc-top {
                .footer__bloc-top1 {

                    nav {
                        flex-direction: column;
                        margin-top: 2rem;

                        .aboutus {
                            margin-left: 0;
                        }

                        a {
                            margin-right: 0;
                            margin-top: 1.5rem;
                            text-align: center;
                        }
                    }
                }

                .footer__bloc-top2 {
                    .social-medias-2 {
                        width: 25%;
                    }
                }
            }

            .footer__bloc-bottom {
                font-size: 17px;
            }
        }
    }
}

@media screen and (max-width: 670px) {
    footer {
        .footer__container {

            .footer__bloc-top {
                .footer__bloc-top2 {
                    .social-medias-2 {
                        width: 35%;
                    }

                    .footer__bloc-top2-right {
                        input {
                            width: 100%;
                        }

                        button {
                            width: 100%;
                        }
                    }
                }
            }


            .footer__bloc-bottom {
                flex-direction: column;
                text-align: center;

                p {
                    margin-top: 0.2rem;
                }
            }
        }
    }
}

@media screen and (max-width: 530px) {
    footer {
        .footer__container {

            .footer__bloc-top {
                .footer__bloc-top2 {
                    .social-medias-2 {
                        width: 50%;
                    }
                }
            }


            .footer__bloc-bottom {
                flex-direction: column;
                text-align: center;

                p {
                    margin-top: 0.2rem;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {

    footer {
        padding: 3rem 2rem 0 2rem;
    }
}

@media screen and (max-width: 435px) {

    footer {
        .footer__container {
            .footer__bloc-top {
                .footer__bloc-top2 {
                    .footer__bloc-top2-right {

                        width: 100%;

                        input {
                            height: 90px;
                        }

                        button {
                            height: 90px;
                        }
                    }
                }
            }
        }
    }
}